.search-form__field {
  background: #fff;
  border: 1px solid #D1D2D6;
  box-sizing: border-box;
  backdrop-filter: blur(8px);
  border-radius: 100px;

  width: 608px;
  height: 64px;

  text-indent: 25px;
  outline: none;
}
