.header-navbar__menu {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-gap: 32px;
  align-items: center;

  padding: 100px 0 0;
}

@media screen and (max-width: 600px) {
  .header-navbar__menu  {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .header-navbar__menu  {
    display: none;
  }
}
