.about__content-title {
  margin: 55px 0 0 0;
}

@media screen and (max-width: 450px) {
  .about__content-title {
    width: 90%;
    margin: 0;
    font-size: 30px;
    line-height: 133%;
}
}


@media screen and (max-width: 375px) {
  .about__content-title {
    width: 90%;
    margin: 0;
    font-size: 30px;
    line-height: 133%;
  }
}
