.card__bookmark {

  width: 40px;
  height: 40px;

  position: absolute;
  right: 24px;
  top: 24px;

  background-color: #ffffff;
  background-image: url(../../../images/rectangle.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px 19px;
  z-index: 2;

  border-radius: 8px;

  cursor: pointer;
}

.card__bookmark:hover {
  background-image: url(../../../images/rectangle_hover.png);
  transition: background-image 0.2s linear;
}

