.search-form__bttn {
  background: #2F71E5;
  border: 1px solid #2F71E5;
  box-sizing: border-box;
  backdrop-filter: blur(8px);
  border-radius: 100px;

  width: 164px;

  position: relative;
  right: 160px;
}

@media screen and (max-width: 700px) {
  .search-form__bttn {
    width: 95%;
    height: 56px;
    position: static;
    margin: 10px 0 0;
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  .search-form__bttn {
    width: 95%;
    height: 56px;
    position: static;
    margin: 10px 0 0;
    padding: 0;
  }
}
