.about__content-subtitle {
  margin: 24px 0 0;
}

@media screen and (max-width: 450px) {
  .about__content-subtitle {
    margin: 16px auto 0;
    width: 95%;
    font-size: 18px;
    line-height: 133%;
}
}


@media screen and (max-width: 375px) {
  .about__content-subtitle {
    margin: 16px auto 0;
    width: 95%;
    font-size: 18px;
    line-height: 133%;
  }
}
