.results__title {

  margin: 80px 0 0 20px;

  color: #1A1B22;

  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 115%;
}

@media screen and (max-width: 450px) {
  .results__title {
    font-size: 30px;
    line-height: 113%;

    width: 80%;
    margin: 32px 0 0 10px;
  }
}

