@import url('./_hidden/_hidden.css');

.results__show-more {
  margin: 0 auto 80px;

  width: 288px;
  height: 64px;

  background-color: #fff;
  border: none;
  border-radius: 80px;
}

@media screen and (max-width: 450px) {
  .results__show-more {
    margin: 0 auto 40px;
}
}
