.popup__content {
  width: 430px;
  min-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
}

.popup__signup-ok .popup__content {
  min-height: 152px;
}


@media screen and (max-width: 540px) {
  .popup__content {
    width: calc(100% - 60px);
  }
}

@media (min-width: 320px) and (max-width: 450px) {
  .popup__content {
    width: 100vw;
  }
}
