.header-navbar__logo-link {
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  text-decoration: none;
  font-family: Roboto Slab;
  font-weight: 400;
}

@media screen and (max-width: 450px) {
  .header-navbar__logo-link {
    font-size: 16px;
    line-height: 150%;
  }
}


@media screen and (max-width: 375px) {
  .header-navbar__logo-link {
    font-size: 17px;
    line-height: 140%;

  }
}



.articles .header-navbar__logo-link {
  color: #1A1B22;
}
