@import url(./_active/_active.css);
@import url(./_auth/_auth.css);
@import url(./_hidden/_hidden.css);
@import url(./_logged/_logged.css);


.header-navbar__menu-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;

  text-decoration: none;
  color: #ffffff;

}

.articles .header-navbar__menu-item {
  color: #1A1B22;
}
