.card__login-reminder {
  opacity: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 52px;
  top: 24px;
  border-radius: 8px;
  background-color: #ffffff;
  cursor: pointer;
}

.card__login-reminder.active {
  display: flex;
}

/* анимация раскрутки и прозрачности */
.card__bookmark:hover ~ .card__login-reminder {
  opacity: 1;
  width: 157px;
  transition: width 0.2s linear 0s, opacity .3s linear 0s;
}
