.card__login-reminder {

  width: 182px;
  height: 40px;

  position: absolute;
  right: 69px;
  top: 24px;
  border-radius: 8px;

  background-color: #ffffff;

  cursor: pointer;
}

.card__login-reminder.active {
  display: flex;
}
