.result__cards {

  margin: 64px auto 64px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;

  grid-gap: 16px;
}

@media screen and (max-width: 1000px) {
  .result__cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 50px auto 50px;
  }
}


@media screen and (max-width: 750px) {
  .result__cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 32px auto 32px;
  }
}

@media screen and (max-width: 550px) {
  .result__cards {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 32px auto 32px;
  }
}


@media screen and (max-width: 450px) {
  .result__cards {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 32px auto 32px;
  }
}
