@import url(./__bttn/__bttn.css);
@import url(./__field/__field.css);

.search-form {
  margin: 64px auto 80px;
  max-width: 608px;

  display: grid;
  grid-template-columns: repeat(2, max-content);
}

@media screen and (max-width: 700px) {
  .search-form {
    max-width: 90%;
    display: flex;
    flex-direction: column;

  }
}

@media screen and (max-width: 450px) {
  .search-form {
    max-width: 90%;
    display: flex;
    flex-direction: column;

  }
}

@media screen and (max-width: 320px) {

}
